In [111]:
import pandas as pd
import numpy as np

In [112]:
df = pd.read_csv('../../include/test/task_1.csv')

df.head()

,application_id,publisher_name,publisher_id,tracker_name,tracking_id,click_timestamp,click_datetime,click_ipv6,click_url_parameters,click_id,...,android_id,google_aid,os_name,os_version,device_manufacturer,device_model,device_type,is_bot,country_iso_code,city
0,4391677,Lebazar_media,141814,Instagram,100349058492664342,1698943515,2023-11-02 21:45:15,::ffff:31.148.161.33,NaN,NaN,...,NaN,NaN,android,13,Samsung,Galaxy A14,phone,False,UZ,Tashkent
1,4391677,Korzinka,141586,Korzinka_App_catalague,172405533171578411,1698941333,2023-11-02 21:08:53,::ffff:185.139.139.242,NaN,NaN,...,NaN,NaN,android,10,NaN,K,phone,False,UZ,Tashkent
2,4391677,Korzinka,141586,Landing_Korzinka_Go_Google_play,388634754712399646,1698945481,2023-11-02 22:18:01,::ffff:213.230.116.215,NaN,NaN,...,NaN,NaN,android,10,NaN,K,phone,False,UZ,Tashkent
3,4391677,Korzinka,141586,"ARIEL_авт.порошок ""lenor effect"" 3кг[20 катало...",316679907482581999,1698941179,2023-11-02 21:06:19,::ffff:213.230.116.86,service=grocery&href=%3Fitem%3D7a77e1265df44d6...,NaN,...,NaN,NaN,ios,17.0.3,Apple,iPhone,phone,False,UZ,Tashkent
4,4391677,Korzinka,141586,SHERIN_Сосиски Егерские 700гр ± 20гр[22 катало...,316721727075796533,1698934368,2023-11-02 19:12:48,::ffff:94.158.59.70,service=grocery&href=%3Fitem%3D72a2eba0d5c4450...,NaN,...,NaN,NaN,android,10,NaN,K,phone,False,UZ,NaN

In [113]:
# check types of columns
df.dtypes

application_id            int64
publisher_name           object
publisher_id              int64
tracker_name             object
tracking_id               int64
click_timestamp           int64
click_datetime           object
click_ipv6               object
click_url_parameters     object
click_id                float64
click_user_agent         object
ios_ifa                 float64
ios_ifv                 float64
android_id              float64
google_aid              float64
os_name                  object
os_version               object
device_manufacturer      object
device_model             object
device_type              object
is_bot                     bool
country_iso_code         object
city                     object
dtype: object

In [114]:
df['publisher_name'].unique()

array(['Lebazar_media', 'Korzinka', 'Lebazar_old_app', 'Рефералки',
       'SMM Korzinka Go', 'Охватка'], dtype=object)

In [115]:
df['publisher_name'].value_counts()

publisher_name
Korzinka           1162
Lebazar_old_app      99
Охватка              55
Lebazar_media        46
Рефералки            38
SMM Korzinka Go       6
Name: count, dtype: int64

In [116]:
df_publisher = df[['publisher_id','publisher_name']].drop_duplicates()

df_publisher.reset_index(drop=True, inplace=True)

df_publisher

   publisher_id   publisher_name
0        141814    Lebazar_media
1        141586         Korzinka
2        140056  Lebazar_old_app
3        146464        Рефералки
4        145627  SMM Korzinka Go
5        141601          Охватка

In [117]:
df.drop('publisher_name', axis=1, inplace=True)

df.head()

,application_id,publisher_id,tracker_name,tracking_id,click_timestamp,click_datetime,click_ipv6,click_url_parameters,click_id,click_user_agent,...,android_id,google_aid,os_name,os_version,device_manufacturer,device_model,device_type,is_bot,country_iso_code,city
0,4391677,141814,Instagram,100349058492664342,1698943515,2023-11-02 21:45:15,::ffff:31.148.161.33,NaN,NaN,Mozilla/5.0 (Linux; Android 13; SM-A145F Build...,...,NaN,NaN,android,13,Samsung,Galaxy A14,phone,False,UZ,Tashkent
1,4391677,141586,Korzinka_App_catalague,172405533171578411,1698941333,2023-11-02 21:08:53,::ffff:185.139.139.242,NaN,NaN,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,...,NaN,NaN,android,10,NaN,K,phone,False,UZ,Tashkent
2,4391677,141586,Landing_Korzinka_Go_Google_play,388634754712399646,1698945481,2023-11-02 22:18:01,::ffff:213.230.116.215,NaN,NaN,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,...,NaN,NaN,android,10,NaN,K,phone,False,UZ,Tashkent
3,4391677,141586,"ARIEL_авт.порошок ""lenor effect"" 3кг[20 катало...",316679907482581999,1698941179,2023-11-02 21:06:19,::ffff:213.230.116.86,service=grocery&href=%3Fitem%3D7a77e1265df44d6...,NaN,Mozilla/5.0 (iPhone; CPU iPhone OS 17_0_3 like...,...,NaN,NaN,ios,17.0.3,Apple,iPhone,phone,False,UZ,Tashkent
4,4391677,141586,SHERIN_Сосиски Егерские 700гр ± 20гр[22 катало...,316721727075796533,1698934368,2023-11-02 19:12:48,::ffff:94.158.59.70,service=grocery&href=%3Fitem%3D72a2eba0d5c4450...,NaN,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,...,NaN,NaN,android,10,NaN,K,phone,False,UZ,NaN

In [118]:
df['tracker_name'].value_counts()

tracker_name
Korzinka_App_catalague                                                       372
Landing_Korzinka_Go_Google_play                                              160
Для тг Корзинки и пуша в тг Корзинки на скачивание                           155
Korzinka_Web_catalague                                                        85
web_site_lending_link                                                         57
Landing_Korzinka_Go_app_store                                                 49
Диплинк в категорию скидки в тг Корзинки                                      49
Meta_CPM                                                                      46
Instagram                                                                     42
Тест                                                                          38
Lockscreen_app_link                                                           37
Форель Радужная_GF (от 2кг до 3кг), вес[22 каталог, хаммер]                   35
Смесь NAN 3 Optipro 1050г[22 каталог, топ10]                                  32
VALIO_Масло сливочное 82% вес[22 каталог, хаммер]                             31
SHERIN_Сосиски Егерские 700гр ± 20гр[22 каталог, топ10]                       27
Korzinka_ App_Stories                                                         26
Киви Иран, вес[22 каталог, топ10]                                             24
Push App Korzinka Core                                                        22
PR                                                                            15
МУКА пшеничная в/сорт 365 kun 2кг[22 каталог, хаммер]                         13
ABC Авт. порошок Color 3кг[22 каталог, хаммер]                                 8
Nescafe Gold 75гр м/у суб.[22 каталог, топ10]                                  6
ARIEL_авт.порошок "lenor effect" 3кг[20 каталог, хаммер]                       5
Landing_Korzinka_Go_qr                                                         5
Крем для рук Увлажнение и смягчение, Алое Вера и масло[22 каталог, топ10]      5
Категория детская гигиена                                                      5
Telegram                                                                       4
Яблоки Редчив Молдова, вес[22 каталог, топ10]                                  4
Banner_link                                                                    4
C/З Хрутка Медовые мультиз.230г пак./b69[22 каталог, топ10]                    4
GREEN RAY Kukuruza 425ml 340g [12][22 каталог, топ10]                          3
ALEKSEEVSKOYE sgush s sah 8.5% JB 360g [45][20 каталог, топ10]                 3
МАРИН. ШАМПИНЬОНЫ 365 kun 1000М[22 каталог, топ10]                             3
AdCollony                                                                      3
VALIO_Плав.сыр VIOLA сливочный 200гр[22 каталог, топ10]                        3
Именинникам промокод для PUSH Korzinka Core                                    2
Шок.плитка Alpen Gold молочный 85г[21 каталог, топ10]                          2
охватка_СМИ                                                                    2
qr_пакеты                                                                      2
Жидкий порошок ABC для цветного 1500мл[18 каталог, хаммер]                     2
Крупа Гречневая Агро-Альянс 800г[22 каталог, топ10]                            2
ANDALUS_В/К_Докторская 700гр ± 20гр[21 каталог, хаммер]                        1
Г.КОРЕЙКА,ВЕС[20 каталог, хаммер]                                              1
Jacobs Gold с/б 95гр[18 каталог, хаммер]                                       1
Категория шоколад и конфеты                                                    1
Яндекс_РТБ                                                                     1
Именинникам промокод для TG-Bot Корзинки                                       1
qr_чеки                                                                        1
Nescafe Gold 95гр с/б суб.[20 каталог, хаммер]                                 1
Сок TIP-TOP Яблоко 1л[21 каталог, топ10]                                       1
Korzinka_PR_link                                                               1
Splat                                                                          1
Главный экран в приложении Корзинка Го                                         1
Именинникам промокод для смс Корзинки                                          1
Диплинк для то Корзинки говядина                                               1
Name: count, dtype: int64

In [119]:
df_tracker = df[['tracking_id','tracker_name']].drop_duplicates()

df_tracker.reset_index(drop=True, inplace=True)

df.drop('tracker_name', axis=1, inplace=True)

df.head()

,application_id,publisher_id,tracking_id,click_timestamp,click_datetime,click_ipv6,click_url_parameters,click_id,click_user_agent,ios_ifa,...,android_id,google_aid,os_name,os_version,device_manufacturer,device_model,device_type,is_bot,country_iso_code,city
0,4391677,141814,100349058492664342,1698943515,2023-11-02 21:45:15,::ffff:31.148.161.33,NaN,NaN,Mozilla/5.0 (Linux; Android 13; SM-A145F Build...,NaN,...,NaN,NaN,android,13,Samsung,Galaxy A14,phone,False,UZ,Tashkent
1,4391677,141586,172405533171578411,1698941333,2023-11-02 21:08:53,::ffff:185.139.139.242,NaN,NaN,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,NaN,...,NaN,NaN,android,10,NaN,K,phone,False,UZ,Tashkent
2,4391677,141586,388634754712399646,1698945481,2023-11-02 22:18:01,::ffff:213.230.116.215,NaN,NaN,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,NaN,...,NaN,NaN,android,10,NaN,K,phone,False,UZ,Tashkent
3,4391677,141586,316679907482581999,1698941179,2023-11-02 21:06:19,::ffff:213.230.116.86,service=grocery&href=%3Fitem%3D7a77e1265df44d6...,NaN,Mozilla/5.0 (iPhone; CPU iPhone OS 17_0_3 like...,NaN,...,NaN,NaN,ios,17.0.3,Apple,iPhone,phone,False,UZ,Tashkent
4,4391677,141586,316721727075796533,1698934368,2023-11-02 19:12:48,::ffff:94.158.59.70,service=grocery&href=%3Fitem%3D72a2eba0d5c4450...,NaN,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,NaN,...,NaN,NaN,android,10,NaN,K,phone,False,UZ,NaN

In [120]:
df_tracker.head()

          tracking_id                                       tracker_name
0  100349058492664342                                          Instagram
1  172405533171578411                             Korzinka_App_catalague
2  388634754712399646                    Landing_Korzinka_Go_Google_play
3  316679907482581999  ARIEL_авт.порошок "lenor effect" 3кг[20 катало...
4  316721727075796533  SHERIN_Сосиски Егерские 700гр ± 20гр[22 катало...

In [121]:
df['click_user_agent'].value_counts()

click_user_agent
Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Mobile Safari/537.36                                                                                                      422
Mozilla/5.0 (iPhone; CPU iPhone OS 17_0_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0.1 Mobile/15E148 Safari/604.1                                                                           70
Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Mobile Safari/537.36                                                                                                       63
Mozilla/5.0 (iPhone; CPU iPhone OS 16_6_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.6 Mobile/15E148 Safari/604.1                                                                             57
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36                                                                                                       32
                                                                                                                                                                                                                    ...
Mozilla/5.0 (Linux; Android 13; SAMSUNG SM-S906B) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/23.0 Chrome/115.0.0.0 Mobile Safari/537.36                                                                     1
Mozilla/5.0 (Linux; U; Android 13; en-us; Xiaomi 11 Lite 5G NE Build/TKQ1.220829.002) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/112.0.5615.136 Mobile Safari/537.36 XiaoMi/MiuiBrowser/13.37.1-gn      1
Mozilla/5.0 (Linux; Android 11; SAMSUNG SM-A127F) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/20.0 Chrome/106.0.5249.126 Mobile Safari/537.36                                                                1
Mozilla/5.0 (Linux; U; Android 10; uz-uz; Redmi Note 8 Pro Build/QP1A.190711.020) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/71.0.3578.141 Mobile Safari/537.36 XiaoMi/MiuiBrowser/12.4.1-g             1
Mozilla/5.0 (Linux; U; Android 12; ru-ru; Redmi Note 9S Build/SKQ1.211019.001) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/112.0.5615.136 Mobile Safari/537.36 XiaoMi/MiuiBrowser/13.37.1-gn             1
Name: count, Length: 452, dtype: int64

In [122]:
df_device = df[['click_user_agent','ios_ifa','ios_ifv','android_id','google_aid','os_name','os_version','device_manufacturer','device_model','device_type','is_bot']]

In [123]:
# check for relationships between device columns, but some columns are strings
def convert_from_string_to_int(df, column):
    df[column] = df[column].astype('category')
    df[column] = df[column].cat.codes
    return df

for column in df_device.columns:
    if df_device[column].dtype == 'object':
        df_device_converted = convert_from_string_to_int(df_device, column)

df_device_converted.head()

C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('category')
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].cat.codes
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('category')
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].cat.codes
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('category')
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].cat.codes
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('category')
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].cat.codes
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('category')
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].cat.codes
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].astype('category')
C:\Users\zakab\AppData\Local\Temp\ipykernel_12064\837538752.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].cat.codes

,click_user_agent,ios_ifa,ios_ifv,android_id,google_aid,os_name,os_version,device_manufacturer,device_model,device_type,is_bot
0,208,NaN,NaN,NaN,NaN,0,7,8,18,1,False
1,14,NaN,NaN,NaN,NaN,0,0,-1,86,1,False
2,14,NaN,NaN,NaN,NaN,0,0,-1,86,1,False
3,437,NaN,NaN,NaN,NaN,1,40,0,140,1,False
4,14,NaN,NaN,NaN,NaN,0,0,-1,86,1,False

In [124]:
df_device_converted['click_user_agent'].value_counts()

click_user_agent
14     422
437     70
12      63
419     57
349     32
      ...
198      1
268      1
54       1
249      1
265      1
Name: count, Length: 452, dtype: int64

In [125]:
for column in df_device_converted.columns:
    print(df_device_converted[df_device_converted['click_user_agent']==14][column].value_counts())

click_user_agent
14    422
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
os_name
0    422
Name: count, dtype: int64
os_version
0    422
Name: count, dtype: int64
device_manufacturer
-1    422
Name: count, dtype: int64
device_model
86    422
Name: count, dtype: int64
device_type
1    422
Name: count, dtype: int64
is_bot
False    422
Name: count, dtype: int64

In [126]:
df_device.head()

,click_user_agent,ios_ifa,ios_ifv,android_id,google_aid,os_name,os_version,device_manufacturer,device_model,device_type,is_bot
0,208,NaN,NaN,NaN,NaN,0,7,8,18,1,False
1,14,NaN,NaN,NaN,NaN,0,0,-1,86,1,False
2,14,NaN,NaN,NaN,NaN,0,0,-1,86,1,False
3,437,NaN,NaN,NaN,NaN,1,40,0,140,1,False
4,14,NaN,NaN,NaN,NaN,0,0,-1,86,1,False

In [127]:
df_device = df[['click_user_agent','ios_ifa','ios_ifv','android_id','google_aid','os_name','os_version','device_manufacturer','device_model','device_type','is_bot']].drop_duplicates()

df_device.reset_index(drop=True, inplace=True)

df_device.head()

,click_user_agent,ios_ifa,ios_ifv,android_id,google_aid,os_name,os_version,device_manufacturer,device_model,device_type,is_bot
0,Mozilla/5.0 (Linux; Android 13; SM-A145F Build...,NaN,NaN,NaN,NaN,android,13,Samsung,Galaxy A14,phone,False
1,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,NaN,NaN,NaN,NaN,android,10,NaN,K,phone,False
2,Mozilla/5.0 (iPhone; CPU iPhone OS 17_0_3 like...,NaN,NaN,NaN,NaN,ios,17.0.3,Apple,iPhone,phone,False
3,Mozilla/5.0 (Linux; Android 12; SAMSUNG SM-A90...,NaN,NaN,NaN,NaN,android,12,Samsung,Galaxy A90 5G,phone,False
4,Mozilla/5.0 (Linux; Android 12; en; Infinix X6...,NaN,NaN,NaN,NaN,android,12,Infinix,X6516,phone,False

In [128]:
df_device['click_user_agent'].value_counts()

click_user_agent
Mozilla/5.0 (Linux; Android 11; SAMSUNG SM-A315N) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/23.0 Chrome/115.0.0.0 Mobile Safari/537.36                                                                                                                                   1
Mozilla/5.0 (Linux; Android 13; SM-A145F Build/TP1A.220624.014; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/118.0.0.0 Mobile Safari/537.36 Instagram 306.0.0.35.109 Android (33/13; 450dpi; 1080x2209; samsung; SM-A145F; a14; s5e3830; ru_RU; 530130426)          1
Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Mobile Safari/537.36                                                                                                                                                                      1
Mozilla/5.0 (iPhone; CPU iPhone OS 17_0_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.0.1 Mobile/15E148 Safari/604.1                                                                                                                                          1
Mozilla/5.0 (Linux; Android 12; M2102J20SG Build/SKQ1.211006.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/118.0.0.0 Mobile Safari/537.36 Instagram 307.0.0.34.111 Android (31/12; 440dpi; 1080x2179; Xiaomi/POCO; M2102J20SG; vayu; qcom; ru_RU; 532277880)    1
                                                                                                                                                                                                                                                                                    ..
Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36                                                                                                                                                                                1
Mozilla/5.0 (Linux; Android 12; M2102J20SG Build/SKQ1.211006.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/118.0.0.0 Mobile Safari/537.36                                                                                                                       1
Mozilla/5.0 (Linux; Android 13; SAMSUNG SM-E625F) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/23.0 Chrome/115.0.0.0 Mobile Safari/537.36                                                                                                                                   1
Mozilla/5.0 (Linux; Android 12; SAMSUNG SM-A315F) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/23.0 Chrome/115.0.0.0 Mobile Safari/537.36                                                                                                                                   1
Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36                                                                                                                                                                      1
Name: count, Length: 452, dtype: int64

In [129]:
df.drop(['ios_ifa','ios_ifv','android_id','google_aid','os_name','os_version','device_manufacturer','device_model','device_type','is_bot'], axis=1, inplace=True)

df.head()

,application_id,publisher_id,tracking_id,click_timestamp,click_datetime,click_ipv6,click_url_parameters,click_id,click_user_agent,country_iso_code,city
0,4391677,141814,100349058492664342,1698943515,2023-11-02 21:45:15,::ffff:31.148.161.33,NaN,NaN,Mozilla/5.0 (Linux; Android 13; SM-A145F Build...,UZ,Tashkent
1,4391677,141586,172405533171578411,1698941333,2023-11-02 21:08:53,::ffff:185.139.139.242,NaN,NaN,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,UZ,Tashkent
2,4391677,141586,388634754712399646,1698945481,2023-11-02 22:18:01,::ffff:213.230.116.215,NaN,NaN,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,UZ,Tashkent
3,4391677,141586,316679907482581999,1698941179,2023-11-02 21:06:19,::ffff:213.230.116.86,service=grocery&href=%3Fitem%3D7a77e1265df44d6...,NaN,Mozilla/5.0 (iPhone; CPU iPhone OS 17_0_3 like...,UZ,Tashkent
4,4391677,141586,316721727075796533,1698934368,2023-11-02 19:12:48,::ffff:94.158.59.70,service=grocery&href=%3Fitem%3D72a2eba0d5c4450...,NaN,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,UZ,NaN

In [130]:
df_device.head()

,click_user_agent,ios_ifa,ios_ifv,android_id,google_aid,os_name,os_version,device_manufacturer,device_model,device_type,is_bot
0,Mozilla/5.0 (Linux; Android 13; SM-A145F Build...,NaN,NaN,NaN,NaN,android,13,Samsung,Galaxy A14,phone,False
1,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,NaN,NaN,NaN,NaN,android,10,NaN,K,phone,False
2,Mozilla/5.0 (iPhone; CPU iPhone OS 17_0_3 like...,NaN,NaN,NaN,NaN,ios,17.0.3,Apple,iPhone,phone,False
3,Mozilla/5.0 (Linux; Android 12; SAMSUNG SM-A90...,NaN,NaN,NaN,NaN,android,12,Samsung,Galaxy A90 5G,phone,False
4,Mozilla/5.0 (Linux; Android 12; en; Infinix X6...,NaN,NaN,NaN,NaN,android,12,Infinix,X6516,phone,False

In [131]:
df_device['index'] = df_device.index

# map the index of df_device to df

df['click_user_agent'] = df['click_user_agent'].map(df_device.set_index('click_user_agent')['index'])

df.head()

,application_id,publisher_id,tracking_id,click_timestamp,click_datetime,click_ipv6,click_url_parameters,click_id,click_user_agent,country_iso_code,city
0,4391677,141814,100349058492664342,1698943515,2023-11-02 21:45:15,::ffff:31.148.161.33,NaN,NaN,0,UZ,Tashkent
1,4391677,141586,172405533171578411,1698941333,2023-11-02 21:08:53,::ffff:185.139.139.242,NaN,NaN,1,UZ,Tashkent
2,4391677,141586,388634754712399646,1698945481,2023-11-02 22:18:01,::ffff:213.230.116.215,NaN,NaN,1,UZ,Tashkent
3,4391677,141586,316679907482581999,1698941179,2023-11-02 21:06:19,::ffff:213.230.116.86,service=grocery&href=%3Fitem%3D7a77e1265df44d6...,NaN,2,UZ,Tashkent
4,4391677,141586,316721727075796533,1698934368,2023-11-02 19:12:48,::ffff:94.158.59.70,service=grocery&href=%3Fitem%3D72a2eba0d5c4450...,NaN,1,UZ,NaN

In [132]:
df_device.head()

,click_user_agent,ios_ifa,ios_ifv,android_id,google_aid,os_name,os_version,device_manufacturer,device_model,device_type,is_bot,index
0,Mozilla/5.0 (Linux; Android 13; SM-A145F Build...,NaN,NaN,NaN,NaN,android,13,Samsung,Galaxy A14,phone,False,0
1,Mozilla/5.0 (Linux; Android 10; K) AppleWebKit...,NaN,NaN,NaN,NaN,android,10,NaN,K,phone,False,1
2,Mozilla/5.0 (iPhone; CPU iPhone OS 17_0_3 like...,NaN,NaN,NaN,NaN,ios,17.0.3,Apple,iPhone,phone,False,2
3,Mozilla/5.0 (Linux; Android 12; SAMSUNG SM-A90...,NaN,NaN,NaN,NaN,android,12,Samsung,Galaxy A90 5G,phone,False,3
4,Mozilla/5.0 (Linux; Android 12; en; Infinix X6...,NaN,NaN,NaN,NaN,android,12,Infinix,X6516,phone,False,4

In [133]:
df.groupby('click_user_agent')['click_ipv6'].value_counts()

click_user_agent  click_ipv6
0                 ::ffff:31.148.161.33      1
1                 ::ffff:213.230.82.245     8
                  ::ffff:94.158.59.70       8
                  ::ffff:91.240.13.48       6
                  ::ffff:94.158.59.208      6
                                           ..
447               ::ffff:95.214.210.60      1
448               ::ffff:185.213.230.65     1
449               ::ffff:213.230.112.250    1
450               ::ffff:185.213.229.69     1
451               ::ffff:213.230.88.71      1
Name: count, Length: 1175, dtype: int64

In [134]:
df.head()

,application_id,publisher_id,tracking_id,click_timestamp,click_datetime,click_ipv6,click_url_parameters,click_id,click_user_agent,country_iso_code,city
0,4391677,141814,100349058492664342,1698943515,2023-11-02 21:45:15,::ffff:31.148.161.33,NaN,NaN,0,UZ,Tashkent
1,4391677,141586,172405533171578411,1698941333,2023-11-02 21:08:53,::ffff:185.139.139.242,NaN,NaN,1,UZ,Tashkent
2,4391677,141586,388634754712399646,1698945481,2023-11-02 22:18:01,::ffff:213.230.116.215,NaN,NaN,1,UZ,Tashkent
3,4391677,141586,316679907482581999,1698941179,2023-11-02 21:06:19,::ffff:213.230.116.86,service=grocery&href=%3Fitem%3D7a77e1265df44d6...,NaN,2,UZ,Tashkent
4,4391677,141586,316721727075796533,1698934368,2023-11-02 19:12:48,::ffff:94.158.59.70,service=grocery&href=%3Fitem%3D72a2eba0d5c4450...,NaN,1,UZ,NaN

In [135]:
df['click_ipv6'].value_counts()

click_ipv6
::ffff:213.230.127.87     8
::ffff:213.230.82.245     8
::ffff:94.158.59.70       8
::ffff:93.157.58.70       7
::ffff:82.215.108.48      7
                         ..
::ffff:84.54.76.43        1
::ffff:37.110.211.245     1
::ffff:213.230.82.208     1
::ffff:188.113.237.129    1
::ffff:84.54.66.106       1
Name: count, Length: 1113, dtype: int64

In [136]:
df['country_iso_code'].value_counts()

country_iso_code
UZ    1343
RU      18
US      16
PL       7
GB       4
KZ       2
FR       2
DE       2
NL       2
SE       2
LU       1
IE       1
TW       1
IN       1
IL       1
AU       1
TR       1
MY       1
Name: count, dtype: int64

In [137]:
df_country = df[['country_iso_code','city']].drop_duplicates()

df_country.reset_index(drop=True, inplace=True)

df_country.head()

  country_iso_code         city
0               UZ     Tashkent
1               UZ          NaN
2               UZ        Navoi
3               RU  Kaliningrad
4               UZ    Samarkand

In [138]:
df_country['index'] = df_country.index

# map the index of df_country to df based on country_iso_code and city
df['location_id'] = df[['country_iso_code', 'city']].apply(
    lambda x: int(df_country[(df_country['country_iso_code'] == x['country_iso_code']) & (df_country['city'] == x['city'])]['index'].values[0]) 
    if not df_country[(df_country['country_iso_code'] == x['country_iso_code']) & (df_country['city'] == x['city'])].empty 
    else -1, 
    axis=1
)

df['location_id'] = df['location_id'].astype(int)

df.drop(['country_iso_code', 'city'], axis=1, inplace=True)

df.head()

,application_id,publisher_id,tracking_id,click_timestamp,click_datetime,click_ipv6,click_url_parameters,click_id,click_user_agent,location_id
0,4391677,141814,100349058492664342,1698943515,2023-11-02 21:45:15,::ffff:31.148.161.33,NaN,NaN,0,0
1,4391677,141586,172405533171578411,1698941333,2023-11-02 21:08:53,::ffff:185.139.139.242,NaN,NaN,1,0
2,4391677,141586,388634754712399646,1698945481,2023-11-02 22:18:01,::ffff:213.230.116.215,NaN,NaN,1,0
3,4391677,141586,316679907482581999,1698941179,2023-11-02 21:06:19,::ffff:213.230.116.86,service=grocery&href=%3Fitem%3D7a77e1265df44d6...,NaN,2,0
4,4391677,141586,316721727075796533,1698934368,2023-11-02 19:12:48,::ffff:94.158.59.70,service=grocery&href=%3Fitem%3D72a2eba0d5c4450...,NaN,1,-1

In [141]:
df_country.head()

  country_iso_code         city  index
0               UZ     Tashkent      0
1               UZ          NaN      1
2               UZ        Navoi      2
3               RU  Kaliningrad      3
4               UZ    Samarkand      4

In [139]:
df['location_id'] = df['location_id'].astype('int')

df.head()

,application_id,publisher_id,tracking_id,click_timestamp,click_datetime,click_ipv6,click_url_parameters,click_id,click_user_agent,location_id
0,4391677,141814,100349058492664342,1698943515,2023-11-02 21:45:15,::ffff:31.148.161.33,NaN,NaN,0,0
1,4391677,141586,172405533171578411,1698941333,2023-11-02 21:08:53,::ffff:185.139.139.242,NaN,NaN,1,0
2,4391677,141586,388634754712399646,1698945481,2023-11-02 22:18:01,::ffff:213.230.116.215,NaN,NaN,1,0
3,4391677,141586,316679907482581999,1698941179,2023-11-02 21:06:19,::ffff:213.230.116.86,service=grocery&href=%3Fitem%3D7a77e1265df44d6...,NaN,2,0
4,4391677,141586,316721727075796533,1698934368,2023-11-02 19:12:48,::ffff:94.158.59.70,service=grocery&href=%3Fitem%3D72a2eba0d5c4450...,NaN,1,-1

In [140]:
def clean_dataFrame(df):
    df_publisher = df[['publisher_id','publisher_name']].drop_duplicates()

    df_publisher.reset_index(drop=True, inplace=True)

    df.drop('publisher_name', axis=1, inplace=True)

    df_tracker = df[['tracking_id','tracker_name']].drop_duplicates()

    df_tracker.reset_index(drop=True, inplace=True)

    df.drop('tracker_name', axis=1, inplace=True)

    df_device = df[['click_user_agent','ios_ifa','ios_ifv','android_id','google_aid','os_name','os_version','device_manufacturer','device_model','device_type','is_bot']].drop_duplicates()

    df_device.reset_index(drop=True, inplace=True)

    df.drop(['ios_ifa','ios_ifv','android_id','google_aid','os_name','os_version','device_manufacturer','device_model','device_type','is_bot'], axis=1, inplace=True)

    df_device['index'] = df_device.index

    df['click_user_agent'] = df['click_user_agent'].map(df_device.set_index('click_user_agent')['index'])

    df_country = df[['country_iso_code','city']].drop_duplicates()

    df_country.reset_index(drop=True, inplace=True)

    df_country['index'] = df_country.index

    df['location_id'] = df[['country_iso_code', 'city']].apply(
        lambda x: int(df_country[(df_country['country_iso_code'] == x['country_iso_code']) & (df_country['city'] == x['city'])]['index'].values[0]) 
        if not df_country[(df_country['country_iso_code'] == x['country_iso_code']) & (df_country['city'] == x['city'])].empty 
        else -1, 
        axis=1
    )

    df['location_id'] = df['location_id'].astype(int)

    df.drop(['country_iso_code', 'city'], axis=1, inplace=True)

    df.to_csv('../../include/main_df.csv', index=False)
    df_publisher.to_csv('../../include/publisher_df.csv', index=False)
    df_tracker.to_csv('../../include/tracker_df.csv', index=False)
    df_device.to_csv('../../include/device_df.csv', index=False)
    df_country.to_csv('../../include/country_df.csv', index=False)